.popup {
  position: fixed;
  width: 500px;
  height: 50px;
  background-color: antiquewhite;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  background-color: blueviolet;
}

.popup-inner .backButton {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.popup-inner .continueButton {
    position: absolute;
    bottom: 16px;
    right: 16px;
}
